.login-page{
    .inputLogin{
        border: 0;
        border-bottom: 1px solid #80808038;
        border-radius: 0;
        padding: 0;
    }
    .inputLogin:focus{
        border-bottom: 1px solid #0052CC;
    }

.form-wrapper form{
padding: 0 20px;
    
input[type="checkbox"]:focus {
        box-shadow:none;
}
}
}
