// @import "tailwindcss/tailwind.css";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    .switchBtn:checked~.dot {
        @apply transform translate-x-full bg-green-500;
    }

    // ------------------ utilities classes ------------------

    .basis__10 {
        flex-basis: 10%;
    }

    .basis__25 {
        flex-basis: 25%;
    }

    .basis__22 {
        flex-basis: 22%;
    }

    .basis__20 {
        flex-basis: 20%;
    }

    .basis__33 {
        flex-basis: 33%;
    }

    .basis__40 {
        flex-basis: 40%;
    }

    .basis__75 {
        flex-basis: 75%;
    }


    // ------------------ typography ------------------

    .list-heading {
        font-size: 1.75rem;
        line-height: 2rem;
    }

    .rounded-5px {
        border-radius: 5px !important;
    }

    //------------------ form input classes ------------------


    .form__input_w_height {
        @apply h-12 w-full rounded-lg border border-[#D6D6D6] text-sm text-black;

        &:focus {
            @apply ring-1 ring-[#2563eb] border-0;
        }
    }


    .form__input__border {
        @apply rounded-lg border border-[#D6D6D6]
    }

    .table__header div:first-child {
        width: auto;
        padding: 0;
        margin: 0;
        height: 100%;
    }

    input:disabled,
    textarea:disabled {
        color: hsl(0, 0%, 60%);
    }

    .__multi-value--is-disabled .custamSelectBox.__multi-value__label {
        color: hsl(0, 0%, 60%);
    }

    .custamSelectBox {
        white-space: nowrap;
    }


    //------------------ form label classes ------------------


    .label__small {
        @apply text-xs mb-2 block text-[#555555];
        text-transform: capitalize;
    }

    .error_msg_red {
        @apply text-red-400 text-xs ml-2.5;
    }


    //------------------ form buttons classes ------------------


    .form__button {
        @apply inline-flex px-24 py-5 text-sm h-46px;
    }

    .icon__plus__small {
        @apply w-4 h-4;
    }

    //------------------ table classes ------------------

    .table__head {
        @apply px-4 py-4 font-inter font-semibold text-sm text-left;
    }

    .table__data {
        @apply px-4 py-2 font-inter font-medium text-sm text-left min-w-105px;
    }


    // ---------------------- Scrollbar -----------------
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }



}