
//variables
$nav-color: #091E42;

@mixin header-logo-size {width: 137px;height: 25px;}

@mixin nav-font-style {font-size: 13px;line-height: 16px;color: $nav-color;}

.navbar ul li{
        // padding: 10px;
        a , div span{         
         @include nav-font-style;
        }
       
}
.masterBar li:hover  .rightBar{
    display: block;
} 

.triangle-right::before{
    position: absolute;
    content: " ";
    width: 40px;
    height: 85px;
    left: -29px;
    top: -11px;
}

.main-header-logo{
    @include header-logo-size;
}

@media only screen and (max-width: 572px) {
    .navbar ul li{
        padding: 3px;
    }
}