.addCategory {
    box-shadow: 0 0 15px -7px grey;   
}

@media only screen and (max-width: 640px) {
    .addCategory .add-catg-form-wrapper form input{
        margin-bottom: 1.5rem;
    }
}

.category {   
    .btn-wrapper {  
      a{
        font-size: 0.875rem;
        line-height: 1rem;
      }
    }
  }
  .formInner{    
    [type='text']{
      width: 50%;     
    }   
  } 

  .basis-wrapper > div{
    flex-basis: 12%;
  }
  
  .no-outline:focus{
    box-shadow: none;
    
}
@media only screen and (min-width: 1024px){

  .product__selecter div:nth-child(6){
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
}


@media only screen and (max-width: 768px) {
  .addCategory .add-catg-form-wrapper form input{
      margin-bottom: 1.5rem;
  }
  .basis-wrapper > div{
    flex-basis: 45%;
  }
}


@media only screen and (max-width: 991px) {
 
  .basis-wrapper > div{
    flex-basis: 45%;
  }
  .basis__48{
    flex-basis: 48%;
  }
  .border-light{
    padding-bottom: 1.75rem;
    border-bottom-width: 2px;
    border-color: rgba(243, 244, 246, var(--tw-border-opacity));
  }
}