.addDepartment {
    box-shadow: 0 0 15px -7px grey;
    .add-catg-form-wrapper {
        box-shadow: 0 0 8px -3px grey;

        form {
            label {
                color: #000000;
                font-size: 0.875rem;
                line-height: 1.25rem;
                margin-bottom: 0.5rem;
            }
            // [type='radio']:focus{
            //     color: green;
            // }
            button{
                width: 50%;
            }
        }

    }
}

@media only screen and (max-width: 640px) {
    .addDepartment .add-catg-form-wrapper form input{
        margin-bottom: 1.5rem;
    }
}